<!DOCTYPE html>
<html lang="en">

<head>
    <title>User</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xq>
    <link rel=" stylesheet"
        href="https://url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap')">
    <link rel="stylesheet" href="../styles/user.css">
</head>
<header>
    <nav class="navbar">
        <ul class="refernce">
            <li><a class="ok" href="../views/contact.html">Contact</a></li>
            <li><a class="ok" href="../views/rick&morty.html">Cards</a></li>
            <li><a class="ok" href="/index.html">Home</a></li>
        </ul>
    </nav>
</header>
<body>
    <main>
        <div class="table">
            <div class="titles">
                <div class="id-user">ID_User</div>
                <div class="name-user">Name_user</div>
                <div class="email-user">Email_user</div>
                <div class="tel-user">Phone_user</div>
                <div class="city-user">City_user</div>
                <div class="company-user">Company_user</div>
            </div>
            <div id="users"></div>
        </div>
    </main>
    <footer>
        <p>&copy; Javier Huebra |-| Sebastian D'Alessandro |-| Matias Spirilis |-| Rolando Duarte Copyright 2022</p>
    </footer>
</body>
<script src="../js/userScript.js"></script>

</html>