* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    width: 100%;
    height: auto;
    background: transparent;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar {
    width: 100%;
    height: auto;
    background: transparent;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.5);
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    top: 0;
}

.refernce {
    width: 100%;
    height: auto;
    background: transparent;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.ok {
    width: 100%;
    height: auto;
    font-weight: bold;
    border: #fff solid 2px;
    box-shadow: #fff 0px 0px 10px;
    border-radius: 5px;
    padding: 10px;
    color: rgb(38, 169, 212);
    text-decoration: none;
}

.ok:hover {
    background: rgb(255, 255, 255);
    color: rgb(38, 169, 212);
    box-shadow: rgb(22, 186, 58) 0px 0px 10px;
    text-decoration: none;
    transition: all 0.5s ease;
}

body {
    background: url(../images/wallpaper.jpg) no-repeat center center fixed;
}

main {
    display: flex;
    justify-content: center;
    margin-top: 80px;
}

.table {
    width: 80%;
    background: rgb(255, 255, 255);
    opacity: 0.8;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    border: rgb(0, 0, 0) 1px solid;
    box-shadow: 0px 0px 15px rgb(243, 243, 243);
    border-radius: 10px;
    margin: auto;
    padding: 20px;
    cursor: pointer;
}

.titles {
    display: flex;
    flex-direction: row;
    color: rgb(0, 0, 0);

}

.titles div {
    width: 16.66%;
    height: 40px;
    border: 1px solid black;
    font-weight: 800;
    display: flex;
    align-items: center;
    justify-content: center;
}

.user {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-size: smaller;
    font-weight: 500;
    color: rgb(13, 107, 78);
}

.user div {
    width: 16.66%;
    border: 1px solid rgb(0, 0, 0);
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.users-images img {
    width: 10px;
}